* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}




.InputFieldContainer, .TeamFieldContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.InputField {
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 5px;
}

.InputTitle, .TeamField {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.ButtonSet {
    display: flex;
    gap: 15px;
}

Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 25px;
}



.MainContainer {
    display: flex;
    border: 1px solid black;
}

.Canvas {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
}

.Square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
    border: 1px solid black;
}