* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}




.inputFieldContainer, .teamFieldContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.inputField {
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 5px;
}

.inputTitle, .teamField {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.buttonSet {
    display: flex;
    gap: 15px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 25px;
}



.mainContainer {
    display: flex;
    border: 1px solid black;
}

.canvas {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
    border: 1px solid black;
}